CALLONDEMAND=
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=
EXPO_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
EXPO_PUBLIC_MONNIFY_API_KEY=
GOOGLE_AI_API_KEY=
GOOGLE_GENAI_API_KEY=
MONNIFY_API_KEY=
MONNIFY_BASE_URL=https://api.monnify.com
MONNIFY_CONTRACT_CODE=730430763017
MONNIFY_SECRET_KEY=
MONNIFY_WALLET_ACCOUNT=8065933172
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_BACKEND_URL=
NEXT_PUBLIC_CALLONDEMAND=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_MONNIFY_API_KEY=
NEXT_PUBLIC_MONNIFY_CONTRACT_CODE=730430763017
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=
FIREBASE_SERVICE_ACCOUNT_KEY=
GEMINI_API_KEY=
GOOGLE_MAPS_PLATFORM_KEY=
